#chart-container-continent {
    font: 10px avenir;
    height: 100vh;
    margin: 0;
  }
  
  #chart-container-continent .axis path,
  #chart-container-continent .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  #chart-container-continent .browser text {
    text-anchor: end;
  }